/* /Pages/Index.razor.rz.scp.css */
#editor-container[b-3ch9vejx97] {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#editor[b-3ch9vejx97] {
    width: 100%;
    height: 100%;
}

#actions[b-3ch9vejx97] {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 4px 4px 4px 8px;
    min-width: 256px;
    max-width: 75%;
    padding: 0;
    margin: 0;
}
#action-bar[b-3ch9vejx97] {
    background-color: rgb(53, 53, 53);
    border-width: 1px;
    border-color: rgb(90, 90, 90);
    border-radius: 0px 0px 0px 8px;
    text-align: right;
}
#attribution[b-3ch9vejx97] {
    font-size: small;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 8px 0px 0px 0px;
}

button[b-3ch9vejx97] {
    color: rgb(0, 130, 222);
    padding: 8px 8px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: inline-block;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    min-width: 1.8em;
}
button:hover[b-3ch9vejx97] {
    color: rgb(0, 130, 222);
    padding: 8px 8px;
    background-color: rgb(182, 220, 255);
}

.notice[b-3ch9vejx97] {
    margin-top: 8px;
    border-radius: 8px;
    padding: 8px 16px;
}

.notice.Info[b-3ch9vejx97] {
    background-color: rgb(53, 53, 53);;
    color: white;
}
.notice.Info[b-3ch9vejx97]::before{
    content: "🛈 Info"
}

.notice.Success[b-3ch9vejx97] {
    background-color: rgb(0, 130, 222);
    color: white;
}
.notice.Success[b-3ch9vejx97]::before{
    content: "✓ Success"
}

.notice.Warning[b-3ch9vejx97] {
    background-color: rgb(240, 130, 50);
    color: black;
}
.notice.Warning[b-3ch9vejx97]::before{
    content: "⚠ Warning"
}

.notice.Error[b-3ch9vejx97] {
    background-color: rgb(150, 18, 18);
    color: white;
}
.notice.Error[b-3ch9vejx97]::before{
    content: "⚠ Error"
}

.modal[b-3ch9vejx97] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content[b-3ch9vejx97] {
    position: relative;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    background-color: (53, 53, 53);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    border-radius: 8px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop-b-3ch9vejx97 {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-content .row[b-3ch9vejx97] {
    display: flex;
    flex-direction: row;
}

.modal-content .row nav[b-3ch9vejx97] {
    width: 256px;
    padding: 12px;
    border-right: 2px solid #888;
}

.modal-content .row article[b-3ch9vejx97] {
    flex-grow: 1;
    padding: 12px;
    white-space: pre-wrap;
}

.modal-content header[b-3ch9vejx97] {
    font-size: xx-large;
    padding: 2px 16px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(90, 90, 90);
}

.modal-content footer[b-3ch9vejx97] {
    padding: 2px 16px;
    border-radius: 0px 0px 8px 8px;
    background-color: rgb(90, 90, 90);
}
